<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="/">Home</a></li>
    <li class="nav-professor" role="menuitem"><a href="/professor/">Professor</a></li>
    <li class="nav-notice" role="menuitem"><a href="/tag/notice/">Notice</a></li>
    <li class="nav-paper-review" role="menuitem"><a href="/tag/paper-review/">Paper-review</a></li>
    <li class="nav-lecture" role="menuitem"><a href="/lecture/20020135/2019/">Lecture</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://github.com/airlab-hub">Github</a></li>

</ul>
